.aboutme {
  background-image: url("../images/city.jpeg");
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.container-text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  width: 60%;
  font-weight: bold;
}

.text h2 {
  font-size: 55px;
  color: #282c34;
  margin-bottom: 35px;
  font-family: "Roboto Mono", monospace;
  background-color: lightgray;
}

.hello {
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
  font-family: "Roboto Mono", monospace;
}

.linkedin-cv {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

.linkedin-cv a {
  transition: 200ms;
}

.linkedin-cv a:hover {
  transform: scale(1.05);
}

.cv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  text-decoration: none;
  background-image: linear-gradient(90deg, #60dbfb, #ffffff);
  color: #033c51;
  padding: 10px;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
  border-radius: 10px;
  transition: 200ms;
}

.cv:hover {
  background-color: #1f2228;
  transform: scale(1.05);
}

.cv img {
  margin-left: 10px;
}

.img-perfil {
  border-radius: 100%;
  padding: 10px;
  background-image: linear-gradient(90deg, #60dbfb, #ffffff);
}

.aboutme-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container-text-img {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width: 800px) {
  .aboutme {
    display: none;
  }

  .aboutme-mobile {
    padding: 20px 0;
    background-image: url("../images/city.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-text-img {
    flex-direction: column;
    gap: 0;
  }

  .text {
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
  }

  .img-perfil {
    padding: 10px;
  }

  .text h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .hello {
    font-size: 15px;
    line-height: 26px;
    width: 90%;
  }

  .img-city-container {
    display: flex;
    margin: 0;
    width: 50%;
    justify-content: center;
  }

  .linkedin-cv {
    margin: 0;
    align-items: start;
  }

  .cv {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
  }

  .cv img {
    margin: 0;
  }

  .img-perfil {
    width: 100%;
  }

  .img-links-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
}
