.aboutme{
  background-color: #033C51;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.container-text-img {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  width: 30%;
  font-weight: bold;
}

.text h2{
  font-size: 55px;
  color: #282C34;
  margin-bottom: 35px;
  font-family: 'Roboto Mono', monospace;
  background-color: lightgray;
}

.text p {
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}

.linkedin-cv {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

.cv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  text-decoration: none;
  background-color: #023041;
  color: white;
  padding: 10px;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 20px;
  transition: 200ms;
}

.cv:hover {
  background-color: #023041;
}

.cv img {
  margin-left: 10px;
}

.img-perfil {
  border-radius: 20px;
}

.aboutme-mobile {
  display: none;
}

@media screen and (max-width: 800px ) {
  .aboutme {
    display: none;
  }

  .aboutme-mobile {
    padding: 50px 0;
    background-color: #033C51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-text-img {
    flex-direction: column;
  }

  .text {
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
  }

  .text h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .text p {
    font-size: 15px;
    width: 90%;
  }

  .img-city-container {
    display: flex;
    margin: 0;
    width: 50%;
    justify-content: center;
  }

  .linkedin-cv {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .cv {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
  }

  .cv img {
    width: 40px;
    margin: 0;
  }

  .img-perfil {
    width: 100%;
  }

  .img-links-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
  }
}