.about-dev {
  background-color: #033C51;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0
}

.how-arrive {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.how-arrive h2 {
  font-size: 45px;
  font-family: 'Roboto Mono', monospace;
  color: #282C34;
  margin-bottom: 35px;
  background-color: lightgray;
}

.how-arrive p {
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.how-arrive a {
  color: #282C34;
  font-weight: bold;
  background-color: lightgray;
}

@media screen and (max-width: 800px ) {
  .how-arrive {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .how-arrive h2 {
    font-size: 18px;
  }

  .how-arrive p {
    width: 90%;
    font-size: 15px;
  }
}