.hard-skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #033C51;
}
.container-h2-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-h2-list h2 {
  font-size: 45px;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 2px 2px 6px black;
  color: yellow;
  margin-bottom: 80px;
}

.hard-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hard-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hard-list li:nth-child(3) img {
  border-radius: 20px;
}

@media screen and (max-width: 800px ) {
  .container-h2-list {
    width: 100%;
  }

  .container-h2-list h2 {
    font-size: 30px;
  }

  .hard-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .hard-list li {
    margin-top: 30px;
  }

  .hard-list li img {
    width: 100px;
  }
}
