.hard-skills {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #033C51;
}
.container-h2-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-h2-list h2 {
  font-size: 38px;
  font-family: 'Roboto Mono', monospace;
  color: #282C34;
  margin-bottom: 80px;
  background-color: lightgray;
}

.hard-list {
  list-style: none;
  display: grid;
  grid-template-areas: 
    'li li li li'
    'li li li li'
  ;
  grid-column-gap: 100px;
  grid-row-gap: 16px;
}

.hard-list li {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 90px;
  min-width: 300px;
}

.hard-list li:nth-child(3) img {
  border-radius: 20px;
}

.hard-name {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 800px ) {
  .hard-skills {
    padding: 20px 0;
  }

  .container-h2-list {
    width: 100%;
  }

  .container-h2-list h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .hard-list {
    display: grid;
    grid-template-areas: 
      'li li'
      'li li'
    ;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
  }

  .hard-list li {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 110px;
  }

  .hard-list li img {
    width: 60px;
  }

  .hard-name {
    font-size: 14px;
  }
}
