.projects {
  background-color: #033c51;
  display: flex;
  gap: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projects h2 {
  font-size: 38px;
  font-family: "Roboto Mono", monospace;
  color: #282c34;
  background-color: lightgray;
  display: inline;
}

.list-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
  width: 60%;
}

.list-projects li {
  position: relative;
}

.list-projects button {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: #282c33;
  transition: 200ms;
  border-radius: 10px;
  overflow: hidden;
}

.list-git {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.name-project {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: transparent;
  transition: 200ms;
}

.name-project:hover {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  font-size: 20px;
}

.list-projects button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.in-progress {
  margin-top: 50px;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-weight: bold;
}

.more-projects {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white;
}

.more-projects img {
  margin-left: 20px;
  width: 120px;
}

.modal-project {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-project {
  width: 900px;
  background-color: rgba(3, 60, 81, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

.title-project {
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: white;
}

.container-video {
  width: 50%;
}

.container-text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.container-text h4 {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  color: #282c34;
  background-color: lightgray;
  display: inline;
}

.container-text div:nth-child(2) h4 {
  font-size: 14px;
}

.container-text p {
  color: white;
  font-family: "Roboto Mono", monospace;
  line-height: 24px;
}

.description-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.container-video-text {
  display: flex;
  width: 100%;
  gap: 30px;
}

.button-link {
  background-color: #033c51;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  padding: 5px 20px;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  font-size: 20px;
  transition: 200ms;
}

.button-link:hover {
  background-color: #1f2228;
  transform: scale(1.05);
}

.button-close {
  background: none;
  border: none;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  border-radius: 100%;
}

@media screen and (max-width: 800px) {
  .projects {
    gap: 50px;
  }

  .projects h2 {
    font-size: 18px;
    margin-top: 40px;
  }

  .list-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .more-projects {
    font-size: 16px;
  }

  .more-projects img {
    margin-left: 10px;
    width: 90px;
  }

  .name-project {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 800;
    font-size: 20px;
  }

  .container-project {
    width: 90%;
    height: 95%;
    gap: 10px;
    justify-content: center;
  }

  .container-video-text {
    flex-direction: column;
    align-items: center;
  }

  .container-video {
    width: 100%;
  }

  .container-text {
    width: 100%;
  }

  .container-text h4 {
    font-size: 16px;
  }

  .title-project {
    font-size: 18px;
  }

  .button-link {
    align-self: center;
  }

  .video {
    max-height: 200px;
  }
}
