html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #033C51;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(#ffffff, #60dbfb);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}